/*
  项目公共配色
  2019-11-30
  主要实现全局配色-绿色风格
*/

/*整体*/
#home #box{
	background: #f5f5f5;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}

/*菜单栏图标颜色-绿*/

.navbar{
	background:#1e1f20;
	background:rgba(30,31,32,.95);
}

.nav_icon{
	color: #878687;
}
.nav_icon:hover {
	color: #bdbdbd;
}
.nav_icon.active {
	color: #09bb07;
}
.nav_icon.active:hover {
	color: #09bb07;
}
.navbar .nav::before {
    content: '';
    display: inline-block;
    width: 0px;
    height: 0px;
    border: 6px solid #edeae8;
    border-color: transparent #edeae8 transparent transparent;
    position: absolute;
    top: 28px;
    right: 0;
}

/*好友列表*/
#app #home #box #subNav{
	background:#edeae8;
}

#box #subNav .search input{
	background-color: #dbd9d8;
	border: 1px solid #dbd9d8;
}
#box #subNav .search input:focus{
	background-color: #f8f8f8;
	border: 1px solid #dad9d7;
}

#box #subNav .search input::-webkit-input-placeholder { color:#818181; }/* webkit专用 */
#box #subNav .search input::-moz-placeholder { color:#818181; } /* firefox 19+ */
#box #subNav .search input:-moz-placeholder { color:#818181; } /* Mozilla Firefox 4 to 18 */
#box #subNav .search input:-ms-input-placeholder { color:#818181; } /* ie */

#box #subNav .search input:focus::-webkit-input-placeholder { color:#f8f8f8; }/* webkit专用 */
#box #subNav .search input:focus::-moz-placeholder { color:#f8f8f8; } /* firefox 19+ */
#box #subNav .search input:focus:-moz-placeholder { color:#f8f8f8; } /* Mozilla Firefox 4 to 18 */
#box #subNav .search input:focus:-ms-input-placeholder { color:#f8f8f8; } /* ie */

#box #subNav .search i{
	color: #999;
	font-weight: 600;
}

#box #subNav .search .plus{
	border: none;
	background: #dcd9d8;
}

#box #subNav .search .plus:hover{
	border-color: #d1d1d1;
	background: #d1d1d1;
}

#box .search .plus:hover:before{
	background: #777;
}
#box .search .plus:hover:after{
	background: #555;
}
ul.plus_menu{
    background:#4c4c4c!important;
}
ul.plus_menu li.el-dropdown-menu__item{
	background-color:none;
}
ul.plus_menu li.el-dropdown-menu__item:hover{
	background-color:#444444;
}
ul.plus_menu .popper__arrow:after{
	border-bottom-color:#4c4c4c!important;
}

.sessions .session{
	border: transparent;
}
.sessions .session .content .name{
	color: #000;
}
.sessions .session .content .lastMsg{
	color: #999;
}
.sessions .session .content .time{
	color: #999;
}
.sessions .session:hover{
	background-color: #dadada;
}
.sessions .session[active]{
	background-color: #cac8c6;
}


/*通讯录*/
.addressBook{
	color: #000;
}
.addressBook .address_book_top:hover{
	background-color: #dadada;
}
.addressBook .address_book_top.active{
	background-color: #cac8c6;
}
.addressBook .friend:hover{
	background-color: #dadada;
}
.addressBook .friend.active{
	background-color: #cac8c6;
}
.addressBook .group{
	color: #999;
}
.addressBook .refresh{
	background-color: #dbd9d8;
	color: #666;
}


/*对话框*/
.chat{
	background-color: #f5f5f5;
}
.chat .header{
	color: #000;
	border-bottom-color: #e5e5e5;
}
.chat .body #loadmore{
	background-color: #dadada;
	color: #fff;
}
.chat .body #loadmore:hover{
	background-color: #ccc;
}
.chat .message .content{
	background-color: #fff;
	border: 1px solid #f0f0f0;
	color: #232323;
}
.chat .sender .content:before{
	border-color: transparent #fff transparent transparent;
}
.chat .message.receiver .content{
	background-color: #9eea6a;
	border: 1px solid #9eea6a;
	color: #232323;
}
.chat .message.receiver .content:before{
	border-color: transparent transparent transparent #9eea6a ;
}
.chat .el-loading-mask{
	background-color: rgba(0, 0, 0, 0.1)!important;
}

.chat .el-loading-spinner .el-loading-text{
	color: #999;
}
.chat .el-loading-spinner .path{
	stroke: #999;
}
#content .chat .footer{
	background: #fff;
}

#content .chat .footer textarea.editor{
	border: 1px solid #eee;
	background-color: #f5f5f5;
}
#content .chat .footer textarea:focus {
    background-color: #fff;
}
#content .chat .footer .toolbar svg{
	color: #bdbdbd;
}
#content .chat .footer .toolbar svg:hover{
	color: #09bb07;
}
.footer .emotions .list{
	background-color: #fff;
	border: 1px solid #eee;
	box-shadow: 0 0 2px rgba(0,0,0,.1);
}
.footer .emotions .list img{
	background-color: transparent;
	border: 1px solid transparent;
}
.footer .emotions .list img:hover{
	background-color: transparent;
	border: 1px solid #eee;
}


/*批量添加好友*/
.addFriends{
	color: #333;
	height: 100%;
	
}
#box .addFriends .tips .msg{
	color: #f56c6c;
}
#box .addFriends .tips{
	border-bottom: 1px solid #d5d5d5;
}
#box .addFriends .content .title{
	border-bottom: 1px solid #d5d5d5;
}
.addFriends .content .title:hover{
	color: #09bb07;
}
#box .addFriends .content .addFriends-type .type-list .type-item.on{
	background-color:#cac8c6;
}
#box .addFriends .content .addFriends-type .type-list .type-item{
	border-bottom: 1px solid #d5d5d5;
	color: #444;
	font-size: 14px;
}
#box .addFriends .content .addFriends-type .type-list .type-item:hover{
	background-color: #dadada;
}
.friends-list{
	background-color: #f5f5f5;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
}
.addFriends .content{
	height: 100%;
}
.addFriends .content .addFriends-type{
	height: 100%;
	background-color: #e5e5e5;
}
.friends-list .content .info .name{
	color: #333;
}
.friends-list .content .info .address{
	color: #666;
}
.friends-list .content .phone{
	color: #666;
}
.friends-list .friend.session{
	border-bottom: 1px solid #e7e7e7;
}


/*申请加我的朋友-新的朋友*/
#content .new_friend .header{
	color: #000;
	border-bottom: 1px solid #d5d5d5;
}
.new_friend .new_friend_li{
	border-bottom: 1px solid #e5e5e5;
}
.new_friend .new_friend_name{
	color: #333;
}

/*我的群组*/
#content .group_list .header{
	color: #000;
	border-bottom: 1px solid #d5d5d5;
}
.group_list .group_list_name{
	color: #333;
}
.group_list .group_list_li{
	border-bottom: 1px solid #e5e5e5;
}
.group_list .group_list_btn{
	color: #69bb64;
}
.group_list .group_list_btn:hover{
	color: #fff;
}

/*个人详情*/
#content .detail .name{
	color: #333;
}
#content .detail .sex{
	top: -50px;
}
#content .detail .row .key{
	color: #999;
}
#content .detail .row .value{
	color: #666;
}
#content .detail .row > div{
	vertical-align: middle;
}
#content .detail > div button.el-button{
	border: 1px solid #e5e5e5;
	background-color: #eee!important;
	
}
#content .detail >div button.el-button:hover{
	color: #666;
}

/* 客户档案 */
.user_info .area-select .area-selected-trigger{
	padding-left: .5em;
}
.user_info .el-input__inner{
	background-color: transparent;
	border: none;
	color: #fff;

}



